CUDA.zip
/any_labels/
/COCO_dataset_project/
.idea/
.venv/
/tenis/
/tenis_test/
/pythonProject/
/yolov7/yolov7/runs/train/
/yolov8/runs/detect/
/yolov7/yolov7/runs/detect/
/yolov9/
/test_things/
/Test_Algorithm/
/tracker_yolo/
/yolov7/yolov7/
/yolov8/ultralytics/
/yolov8/runs/
/test_neural_and_opencv/models/
/track_math/models/
/track_math/output_videos/
/yolov7/video/
*.pt